@charset "UTF-8";

#explore{
	padding: 50px 0px;
	border-bottom: none;
}

/* ///////////////////////////////////// */

.card {
    background-color: #eee;
}

.form-control {
    height: 48px;
    border-radius: 25px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #cd8c52;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.c-badge {
    background-color: #cd8c52;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #cd8c52
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}


/* ///////////////////////////////////// */


.panel-body {
	margin-top:50px;
    max-height:650px;
    overflow:auto;
}

.media-body{
	margin-left:15px;
}

.media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
    margin-left: 10px;
}

.media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.text-muted{
	margin-right: 10px;
}

#frm{
	display: inline !important;
	width: 100%;
	padding : 3px;
}

.insertComment{
	whitespace: nowrap;
}

#sendButton{
	margin : 5px;
	float: right;
}


