@charset "UTF-8";

:root {
		  --background: #fff;
		  --text: #363636;
		  --heading-text: #000;
		  --anchor-text: #0076d1;
		  --code-background: #efefef;
		  --code-text: #000;
		}
		
		@media (prefers-color-scheme: dark) {
		  :root {
		    --background: #202b38;
		    --text: #dbdbdb;
		    --heading-text: #fff;
		    --anchor-text: #0076d1;
		    --code-background: #161f27;
		    --code-text: #ffbe85;
		  }
		}
		
		.dark-mode {
		  background: var(--background);
		  line-height: 1.6;
		  margin: 0 auto;
		}
		
		.dark-mode h1,
		.dark-mode h2,
		.dark-mode h3,
		.dark-mode .nav {
		  color: var(--heading-text);
		}
		
		.dark-mode p,
		.dark-mode dl {
		  color: var(--text);
		}
		
		.dark-mode a {
		  /* color: var(--anchor-text); */
		  text-decoration: none;
		}
		
		.dark-mode code {
		  color: var(--code-text);
		  background: var(--code-background);
		  border-radius: 6px;
		  padding: 2.5px 5px;
		}
		
		.dark-mode header,
		.dark-mode head,
		.dark-mode #main,
		.dark-mode html, 
		.dark-mode body {
		  background: var(--background);
		}
		
		.dark-mode .header-area .main-nav .nav li a,
		.dark-mode .background-header .logo,
		.dark-mode .background-header .main-nav .nav li a{
			color: #FFFFFF;
		}
		
		
		
		