@charset "UTF-8";

:root {
        --background: #fff;
        --text: #363636;
        --heading-text: #000;
        --anchor-text: #0076d1;
        --code-background: #efefef;
        --code-text: #000;
      }
      
      @media (prefers-color-scheme: dark) {
        :root {
          --background: #202b38;
          --text: #dbdbdb;
          --heading-text: #fff;
          --anchor-text: #0076d1;
          --code-background: #161f27;
          --code-text: #ffbe85;
        }
      }
      
      .dark-mode {
        background: #202b38;
        line-height: 1.6;
        margin: 0 auto;
      }
      
      .dark-mode h1,
      .dark-mode h2,
      .dark-mode h3,
      .dark-mode h4,
      .dark-mode h5,
      .dark-mode .fa-quote-left:before,
      .dark-mode .main-border-button,
      .dark-mode .nav {
        color: #fff !important;
      }
      
      .dark-mode a,
      .dark-mode p,
      .dark-mode dl {
        color: #dbdbdb !important;
      }
      
      .dark-mode code {
        color: #000;
        background: #efefef;
        border-radius: 6px;
        padding: 2.5px 5px;
      }
      
      .dark-mode #Recommend .item .down-content,
      .dark-mode header,
      .dark-mode head,
      .dark-mode #main,
      .dark-mode html, 
      .dark-mode body {
        background: #202b38;
      }
      
      .dark-mode .header-area .main-nav .nav li a,
      .dark-mode .background-header .main-nav .nav li a{
         color: #FFFFFF !important;
      }
      
      
      .dark-mode #content,
      .dark-mode .general h1,
      .dark-mode .general p{
          color: #000000 !important;
      }
      
      .dark-mode .total .main-border-button a,
      .dark-mode #explore .left-content .main-border-button a,
      .dark-mode #products .pagination ul li a:hover, 
      .dark-mode #products .pagination ul li.active a{
          color:  #FFFFFF !important;
          border-color: #FFFFFF !important;
      }
      
      
      .dark-mode .subscribe ul li,
      .dark-mode #explore .left-content h2,
      .dark-mode #explore .left-content .quote i,
      .dark-mode #explore .left-content .quote p{
          color : #dbdbdb;
      }
      
      .dark-mode .subscribe form button{
          border-color: #FFFFFF !important;
      }
      
      .dark-mode .paypal__username,
      .dark-mode .paypal__cart-title{
          color: black !important;
      }
      
      .dark-mode .our-services .service-item {
      	border: 1px solid white
      }
      .dark-mode #product .right-content{
      	background-color: #202b38;
      }
      
      .dark-mode #Recommend .owl-nav .owl-next,
      .dark-mode #Recommend .owl-nav .owl-prev{
      	 color:  #FFFFFF !important;
         border: 1px solid white !important;
         background: #ffffff; 
      }
      
      