<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.book.mapper.UserMapper"> <!-- 인터페이스위치 -->
<!-- #{} 는 mybatis 문법인데,, jdbc에서 ? 썼던 데에 쓴다고 생각하면 됨 -->
	
	<insert id="insert">
		insert into USERS(id,name, email, age,mobile, 
		profile_image,gender,birthyear, birthday)
		values(#{id},#{name},#{email},#{age},#{mobile},
		#{profile_image},#{gender}, #{birthyear}, #{birthday})
	</insert>
	<select id="checkId" resultType="boolean">
	select count(*) from USERS where id=#{id}
	</select>
	<select id="getList" resultType="org.book.domain.UserDTO">
	select * from USERS where id=#{id}
	</select>
	<update id="updateInfo">
	update USERS set email=#{email}, birthyear=#{birthyear}, birthday=#{birthday}, 
	mobile=#{mobile}, age=#{age}, profile_image=#{profile_image}
	where id=#{id}
	</update>
</mapper>